Django
Pillow
South
django-tastypie==0.9.12
django-braces
mock
factory-boy>=2.0.2,<2.1
django_compressor
requests
http://github.com/kklimonda/django-images/tarball/master#egg=django-images
http://github.com/hcarvalhoalves/django-taggit/tarball/master#egg=django-taggit
